// Esquema de colores

//Primer esquema de color
$white: #FFF;
$platinum: #E6E7E7;
$light-gray: #D1D1D1;

//Segundo esquema de color
$fuzzy-wuzzy: #E56353;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;

//Tercer esquema de color
$eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6C6E70;

//Tipografía
$roboto: 'Roboto', sans-serif;
$playfair: 'Playfair Display', serif;

// Pesos de fuentes 
$light: 300;
$regular: 400;
$black-italic: 900;

//Tamaños de fuente
$xx-large: 70px;
$x-large:30px;
$large: 18px;
$medium: 16px;
$small: 12px;

//Colores 

$gray: #6c6e70;
$light-gray: #e6e7e7;
$white: #FFFFFF;
$black: #000;
 


